//Main colors
$background-color: rgb(243, 230, 230);
$header-color: rgb(214, 195, 195);
$footer-color: rgb(233, 198, 204);

//Headers & letter
$header-h1:rgb(4, 4, 102);
$header-h2:rgb(34, 34, 153);
$header-h3:rgb(43, 43, 161);
$letter-color: rgb(56, 54, 54);
$button-text: white;
$text-bottom: rgb(180, 59, 79);
$footer-letter: rgb(224, 115, 115);

//Image boxes
$img-box: rgb(245, 204, 127);
$box-img-home: rgb(161, 226, 204);
$text-home: rgb(216, 158, 169);
$team: rgb(190, 84, 84);
$box-port: rgb(243, 243, 141);
$team-member: rgb(47, 47, 214);

//Buttons
$button-project: rgb(255, 152, 169);
$button-footer: rgb(139, 95, 156);


//Other
$border: rgb(228, 216, 216);
$circle: rgb(50, 207, 29);
