$background-color: rgb(243, 230, 230);
$header-h1:rgb(4, 4, 102);
$header-h2:rgb(34, 34, 153);
$header-h3:rgb(43, 43, 161);

$img-box: rgb(246, 181, 60);
$box-img-home: rgb(84, 190, 155);
$team: rgb(190, 84, 84);
$box-port: rgb(243, 243, 141);
