@import "reset";
@import "variables";

header {
    background: $header-color;
}

.nav-ul {
    display: grid;
    grid-gap: 3px;
    grid-template: auto / repeat(5, 1fr);
    list-style: none;
    padding: 1rem;
}

.nav-item a {
    text-decoration: none;
    color: $letter-color;
    cursor: pointer;
}

h1 {
    color: $header-h1;
}

.container {
    padding: 1rem;
}

.main {
    height: 100vh;
}

.text-main {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.image {
    height: 50%;
    display: grid;
    grid-gap: 4px;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    grid-template-areas: 
    "a b b b b c"
    "a d f f f c"
    "a d e e e c"
    "a d e e e c";
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $img-box;
}

.image-box:nth-child(1){
    grid-area: a;
}

.image-box:nth-child(2){
    grid-area: b;
}

.image-box:nth-child(3){
    grid-area: c;
}

.image-box:nth-child(4){
    grid-area: d;
}

.image-box:nth-child(5){
    grid-area: e;
}

.image-box:nth-child(6){
    grid-area: f;
}

.homepage {
    height: 100vh;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

h2 {
    color: $header-h2;
}

.homepage h2 {
    display: flex;
    justify-content: center;
}

.homepage-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-home{
    display: grid;   
    grid-gap: 4px;
    grid-template: auto / repeat(4, 1fr);
    grid-template-areas: 
    "a a e e"
    "a a e e"
    "f f b b"
    "f f b b"
    "c c g g"
    "c c g g"
    "h h d d"
    "h h d d"
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $box-img-home;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $text-home;
    text-align: center;
}

.box-img-home-1{
    grid-area: a;
}

.box-img-home-2{
    grid-area: b;
}

.box-img-home-3{
    grid-area: c;
}

.box-img-home-4{
    grid-area: d;
}

.text-home-1 {
    grid-area: e;
}

.text-home-2 {
    grid-area: f;
}

.text-home-3 {
    grid-area: g;
}

.text-home-4 {
    grid-area: h;
}

.about {
    height: 100vh;
    display: grid;
    grid-gap: 4px;
    grid-template: auto / auto;
}

.text-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    text-align: center;
    padding: 3rem;
}

.team {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas: 
    "a a b b c c"
    "d d b b c c"
    "e e b b f f";
}

.team-image{
    background: $team;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-image:nth-child(1){
    grid-area: a;
}

.team-image:nth-child(2){
    grid-area: b;
}

.team-image:nth-child(3){
    grid-area: c;
}

.team-image:nth-child(4){
    grid-area: d;
}

.team-image:nth-child(5){
    grid-area: e;
}

.team-image:nth-child(6){
    grid-area: f;
}

.portfolio {
    height: 100vh;
    display: grid;
    grid-gap: 4px;
    grid-template: auto / auto;
}

.images-portfolio {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-areas:
    "a a a a a"
    "b b e c c"
    "b b e c c"
    "d d e c c"
    "d d e g g"
    "f f f f f";
}

.portfolio-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-port {
    background: $box-port;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-port:nth-child(1){
    grid-area: a;
}

.box-port:nth-child(2){
    grid-area: b;
}

.box-port:nth-child(3){
    grid-area: c;
}

.box-port:nth-child(4){
    grid-area: d;
}

.box-port:nth-child(5){
    grid-area: e;
}

.box-port:nth-child(6){
    grid-area: f;
}

.box-port:nth-child(7){
    grid-area: g;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-port {
    border: 2px solid #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    background: $button-project;
    margin-left: 1rem;
    cursor: pointer;
}

h3 {
    color: $header-h3;
}